@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,700;1,300&family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: url("https://i.pinimg.com/736x/56/63/21/566321d7de9b5a75d615715911db709f.jpg");
    background-size: cover;
}

nav {
    background-color: black;
    color: white;
    padding: 12px 3px;
    display: flex;
    justify-content: space-between;
}

.tit{
    margin: 0 23px;
    font-weight: 800;
    font-size: 25px;
    cursor: pointer;
}
.logo img{
    height: 20px;
}

ul {
    display: flex;
    margin: 0 23px;
    align-items: center;
}

ul > li {
    list-style: none;
    margin: 0 13px;
    cursor: pointer;
}

ul > li:hover{
    color: white;

}

table, td, tr{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 5px 13px;
    margin: 50px;
}

.container {
    max-width: 80vw;
    margin: 25px auto;
    
    
}
.box{
    background-image: url("https://i.pinimg.com/originals/a9/e2/50/a9e2503b55b704870619bfd93a3153e0.jpg");
    background-size: cover;
    padding: 0 2px;
    margin: 0 20px;
    background-color: bisque;
    border-radius: 25px;
}


h1, h2, h3 {
    margin: 23px 0;
}
h1{
    font-size: 35px;
    text-align: center;
}
p{
    font-size: 20px;
}
h2{
    margin: 20px;
    padding: 10px;
}

form{
 margin: 20px;
 font-style: 900;
}

.btn{
    padding: 10px 19px;
    background: black;
    color: white;
    font-weight: 900;
    border: 2px solid gray;
    border-radius: 15px;
    margin: 25px 0;
    cursor: pointer;
  
   
}

.btnsm{ 
    padding: 10 px 19px;
    background: black;
    color: white;
    font-weight: 900;
    border: 2px solid gray;
    border-radius: 8px; 
    cursor: pointer;
}

img{
    cursor: pointer;
    position: relative;
    bottom: 7px;
    width: 15px;
    height: 13px;
}

#alert{
    display: none;
}
footer{
    font-size: px;
    background-color: black;
    color: white;
    display: flex;
    padding: 0 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot{
    font-weight: 400;
    font-size: 10px;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0 12px;
    background-color: black;
    color: white;
}
 .credit a{
    color:bisque;
    font-size: 5pxpx;

}